In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from datetime import datetime
from scipy import stats

In [2]:
# Read saved data
Skills_List_db = pd.read_csv("Resources/Skills_Priority_List_2022.csv")

# Display sample data
Skills_List_db.head()

,ANZSCO Code,Occupation title,Current National Labour Market Rating,National Future Demand Rating,NSW,VIC,QLD,SA,WA,TAS,NT,ACT
0,111111,Chief Executive or Managing Director,NS,Moderate,NS,NS,NS,NS,NS,NS,NS,NS
1,111211,Corporate General Manager,NS,Moderate,NS,NS,NS,NS,NS,NS,NS,NS
2,121111,Aquaculture Farmer,NS,Moderate,NS,NS,S,NS,NS,NS,S,NS
3,121311,Apiarist,S,Moderate,S,S,S,S,NS,S,S,S
4,121312,Beef Cattle Farmer,NS,Soft,R,NS,S,NS,NS,NS,S,NS